

h2 {
  font-weight: 700;
  color: #0d6efd;
}

.card img {
  height: 200px;
  object-fit: cover;
}

#heroSlider .carousel-item img {
  
  height: 400px; 
  object-fit: cover;
  object-position: center;
}

html {
  scroll-behavior: smooth;
}
